/* style sheet for logstash */

@import "reset.css";

/* basic tags */
* { font-family:"Helvetica Neue","Helvetica","Arial",sans-serif; margin: 0;}
html, body {height: 100%;}
body  { font-size: 16px; line-height: 1.5; color: #777; background-color: #FFFAF3; }
h1, h2, h3, h4, h5, h6  { margin: 0; color: #58643C; font-family:"Helvetica","Arial",sans-serif; }
h1  {font-size: 36px;} h2  { font-size: 32px;} h3  {font-size: 24px;} h4  {font-size: 20px;} h5  {font-size: 18px;} h6  {font-size: 16px;}
p  { margin: 0; }
a:link, a:visited  { color: #658F3D; text-decoration:none; }
a:hover  { text-decoration:underline; }
pre { white-space: pre; margin-left: 15px; margin-right: 15x; border: 1px solid #FFC280; background-color: #F7F0E9; padding: 8px; overflow: auto; }
code { font-family: monospace; }
dl { margin-left: 20px; }
dt { font-weight: bold; }
dd { margin-left: 20px; }

li { list-style-type: disc; margin-left: 30px !important; }

/* main container */
.container { width: 960px; margin: 0 auto -30px; min-height: 100%; height: auto !important; height: 100%;}

/* header */ 
.header {padding: 26px 0px;}

/* nav */ 
.nav { float: right; font-size: 18px;}
.nav a:link, .nav a:visited, .nav a:hover { font-weight: bold; padding: 0px 10px; }

/* featured content for homepage */
.mascot { float:right; margin-left: 30px; }
.logo-text { height: 2em; }
.image_and_logo { margin: 45px 0px 0px 0px; font-size:18px; }
.featured_text { margin:0px 0px 260px; }
.featured_text p { font-size: 16px; margin-bottom: 20px; }
a.awesome_button { background:url('images/button.png'); background-repeat:no-repeat; width:283px; height:56px; float:left; text-decoration:none; text-align:center; padding-right: 10px; padding-top:10px; font-weight:bold; font-family:"Helvetica Neue","Helvetica","Arial",sans-serif; font-size:22px; color:#475530; text-shadow: -1px -1px 1px #DDD; }
a.awesome_button:hover { background: url('images/button_hover.png'); background-repeat:no-repeat;}

/* main content rendered via template */
#content { margin: 0px 0px 60px 0px; }
.content_wrapper {float:left; width: 100%;} /* floats content to the right of mascot image for content_right layout */

/* main content that needs to float all the way down for doc single pages */
#content_right { padding: 0px 0px 60px 0px;}
#content_right h3 { margin:15px 0px 0px 0px;}

/* doc index */
#doc_index_container{ }
.doc_index_section { float: left; margin: 0px 50px 0px 0px;}
.doc_index_section h2 { margin: 0px 0px 20px 0px;}
#doc_index_container li { margin: 0 !important;}

/* doc single page */
#content_right li { margin: 5px 0px 0px 0px;}
#content_right p { margin: 10px 0px;}




/* about page */
.about p { margin: 0px 0px 20px 0px;}

/* sub content */
.sub_content { text-align:center; margin: 0px 0px 30px;}
.sub_content h2 { text-align:center; line-height:1.2; margin: 0px 0px 20px; }
.sub_content_text { width: 460px; margin: 0px 20px 0px; float: left; text-align:left; }
.sub_content_text p { margin: 0px 0px 12px; }


/* footer */

.footer { font-size:80%; text-align:center;}

.warning {
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  font-size: 100%;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  border-radius: 5px;

  background: #d82b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #d82b2b 0%, #9b0d0d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d82b2b), color-stop(100%,#9b0d0d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d82b2b 0%,#9b0d0d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d82b2b 0%,#9b0d0d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d82b2b 0%,#9b0d0d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d82b2b 0%,#9b0d0d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d82b2b', endColorstr='#9b0d0d',GradientType=0 ); /* IE6-9 */
}

.warning a {
  color: white;
}

.community-plugin-notice {
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  font-size: 100%;
  font-weight: bold;
  border: 1.5px solid rgba(100,100,0,0.5);
  border-radius: 5px;

  background: rgba(200, 200, 0, 0.2);
}
