<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>logstash - open source log management</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
	    <div class="container">
	        <div class="header">
		        <div class="nav">
			        <a href="/">home</a>
			        <a href="/docs/1.4.2">docs</a>
			        <a href="/docs/1.4.2/learn">about</a>
			        <a href="http://logstash.jira.com/">bugs</a>
			    </div>
            </div>
	        <div class="mascot_and_logo">
            <img src="/images/logstash.png" alt="logstash" style="float:left;"/>
            <a href="/" ><img src="/images/logo.png" alt="logstash" /></a>
	        </div>
	        <div id="content"><!--main content goes here, yo!-->
		        {{ content }}
		    </div>
        </div><!--closes main container div-->
        <div class="clear"></div>
        <div class="footer">	
            <p>Hello! I'm your friendly footer. If you're actually reading this, I'm impressed.</p>
        </div>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-6522917-5']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
  <script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 985891458;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/985891458/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
    </body>
</html>
