!!! 5
%html
  %head
    %title logstash - open source log management
    /%link{ :rel => "stylesheet", :href => "/style.css", :type => "text/css" }
%body
  #header
  #content
    {{ content }}
  #footer
